/* Minimalistiskt tema för
SSIS.nu.
Skapat av 20alse.
*/

div.square {
  background: none;
  color: black;
}

div a img {
  display: none;
}
nav.navbar.navbar-default.sthlm-primary {
  background-color: grey;
  border: 1px solid grey;
  color: #000000; 
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus
.navbar-default .navbar-nav > li,
.navbar-default .navbar-nav >  li:hover,
.navbar-default .navbar-nav > li:focus {
  background-color: black;
}

.navbar-default .navbar-toggle.collapsed:focus {
    background-color:black;
}

.navbar-default .navbar-brand:hover,
.navbar-default a:active,
.navbar-default a:focus,
.navbar-default .navbar-nav > :not(.active) > a:hover {
  background-color: black;
}

.navbar-default .navbar-header .navbar-toggle.collapsed:hover,
.navbar-default .navbar-header .navbar-toggle:not(.collapsed) {
  background-color: black;
}

.navbar-default .navbar-header .navbar-toggle.collapsed,
.navbar-default .navbar-toggle {
    border-color: black;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
nav.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-header .navbar-toggle.collapsed span.icon-bar {
    background-color: black;
}



div.panel-heading {
  border: 1px solid grey;
  color: black;
}

input.btn.btn-primary {
  background-color: black;
}

.panel-body a {
  color: black;
  text-decoration: underline;
}
